.App {
  width: 100%;
  margin: 0;
}

.content{
  width: 100%;
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: orange;
  width: 100%;
  padding:20px;
}

.main-nav div{
  padding-left: 35%;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.list {
margin-top: 30px;
text-align: left;
padding-left: 20px;
padding-right: 20px;
}

.list h3 {
  color: orange;
  font-weight: 600;
}

.list p {
  padding: 0 20px 0 20px;
  color: grey;
  font-size: 15px;
}

.footer {
margin: 50px 20px 50px 20px;
}

.footer p{
  padding: 0 20px 0 20px;
  text-align: left;
  color: grey;
}


/*버튼 css*/
.button {
	background: 0;
	border: 0;
	padding: 0;
	cursor: pointer;
}

.totop_arrow2{
  width:50px;
  height:50px;
  position:relative;
  background:none;
  border:none;
  text-indent:-9999px;
}

.totop_arrow2:before{
  content:'';
  width:16px;
  height:16px;
  position:absolute;
  left:50%;
  top:20px;
  border-left:3px solid #fff;
  border-top:3px solid #fff;
  transform:translateX(-50%) rotate(-45deg);
}

@media (prefers-reduced-motion: no-preference) {


}